* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.flexy {
  aspect-ratio: 1/1;
}

.buttonContainer {
  text-align: center;
}
